<nav class="navbar navbar-expand-md  sticky-top navbar-dark  bg-primary p-3">
    <div class="container">
        <a class="navbar-brand fs-3" routerLink="/"><b>{{ logo }}</b></a>
        <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse" [class.collapse]="isCollapsed" id="navbarCollapse">
            <ul class="navbar-nav  d-inline-flex mt-2 mt-md-0 ms-md-auto">
                <ng-template #anonymousUser>
                <li class="nav-item">
                   <a class="nav-link" routerLinkActive="active" routerLink="login">Log In</a>
                </li>
                </ng-template>
                <li *ngIf="currentUser else anonymousUser" ngbDropdown class="nav-item dropdown">
                    <a  ngbDropdownToggle class="nav-link dropdown-toggle active"  id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                       {{currentUser?.firstName }} {{currentUser?.secondName}}
                    </a>
                    <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" *ngIf="currentUser?.role=='admin'" routerLink="admin/teachers">About Teachers</a></li>
                        <li><a class="dropdown-item" *ngIf="currentUser?.role=='admin'" routerLink='admin/students'>About Students</a></li>
                        <li><a class="dropdown-item" *ngIf="currentUser?.role=='teacher'" routerLink='teacher/students'>About Students</a></li>
                        <li><a class="dropdown-item" *ngIf="currentUser?.role=='student'" routerLink='students/all'>All Students</a></li>
                        <li><a class="dropdown-item" (click)="logout()">Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>